
@{
    ViewBag.Title = "Oluştur";
}

<h2>Kategori Oluştur</h2>

<form method="post">

    <label>Adı :</label>
    <input name="Name" />

    <br />

    <label>Açıklama :</label>
    <input name="Description" />

    <br />


    <label>Fotoğraf :</label>
    <input id="imageURL" name="FotografUzantisi" type="hidden"/>
    <input name="ImageUrl" type="file" accept=".png,.jpg" id="imageUpload" />
    <img id="categoryImage"/>

    <br />
    
    <label>Öne Çıkan mı ? :</label>
    <input name="IsFeatured" type="radio" value="True"/>Evet
    <input name="IsFeatured" type="radio" value="False"/>Hayır

    <button type="submit">Kaydet</button>
</form>

<script>
    $('#imageUpload').change(function () {

        var element = this;

        var formData = new formData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {

                if (response.Success) {
                    $("#categoryImage").attr("src", response.ImageURL);
                    $("#ImageURL").val(response.ImageURL);
                }
            })
            .fail(function (xmlHttpRequest, textStatus, errorThrown) {

                alert("Durum: " + textStatus + '/n' + "Hata: " + errorThrown);
            });
    });
</script>