
@{
    ViewBag.Title = "Oluştur";
}

<h2>Kategori Oluştur</h2>

<form method="post">

    <label>Adı :</label>
    <input name="Adı"/>

    <br/>

    <label>Açıklama :</label>
    <input name="Açıklama"/>

    <br/>
    <button type="submit">Kaydet</button>
</form>