@model List<OM.Entities.EntityClass.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Kategoriler</h2>

@foreach (var category in Model)
{
    <h1>@category.Name</h1>
    <h3>@category.Description</h3>
    <br />
}