
<div class="container">
    <div id="table">
        @{

            Html.RenderAction("ProductTable");

            /*
            * Html.RenderAction("Create");
            * Parçalı olarak sayfa düzenini doğrudan oluşturmak için bu yöntem üzerinden ilerleyebiliriz..
            */

        }
    </div>

    <div id="actionTable">

    </div>

</div>